body {
    background-colour:skyblue;
    font-size: 20px;
}
h1 {width: 100%;
    font-size: 80px;
    font-family: 'Bakbak One', cursive;
}
h4 {
    width: 100%;
    font-family: 'Bakbak One', cursive;
    font-size: 40px;
}
td {font-size: 20px;
    font-family: 'Khand', sans-serif;
}
    
