body {
    font-size: 120px;
}
h1 {width: 100%;
    font-size: 400px;
    font-family: 'Bakbak One', cursive;
}
h4 {
    width: 100%;
    font-family: 'Bakbak One', cursive;
    font-size: 200px;
}
td {font-size: 120px;
    font-family: 'Khand', sans-serif;
}
    
