body {
    background-color:skyblue;
}
h1 {width: 100%;
    font-size: 60px;
    font-family: 'Bakbak One', cursive;
}
h4 {
    width: 100%;
    font-family: 'Bakbak One', cursive;
    font-size: 40px;
}
td {font-size: 38px;
    font-family: 'Khand', sans-serif;
}
    
